.wp-block-details.is-style-big-details {
  border-bottom: 1px solid #e5e7eb;
  font-weight: 500;
}




.wp-block-details.is-style-big-details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 1.75rem;
}

.wp-block-details.is-style-big-details summary::marker {
  display: none;
}

.wp-block-details.is-style-big-details summary::after {
  color: var(--wp--preset--color--primary);
  transition: all 300ms;
  transform: rotate(180deg);
  font-size: 1.5rem;
  content: "\f078";
  font: var(--fa-font-light);
}

.wp-block-details.is-style-big-details[open] summary::after {
  transition: all 300ms;
  transform: rotate(0deg);
}

div.is-list-small ul.is-style-check li {
  font-size: 15px;
  line-height: 1.375;
  margin-bottom: 0;
  padding-bottom: 0;
}

ul.is-style-check {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

ul.is-style-check li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

ul.is-style-check li::before {
  content: "\f00c";
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2px;
  font: var(--fa-font-regular);
}

/* WP List block style variation: Hexagone check */
ul.wp-block-list.is-style-dc26-hex-check {
  list-style: none;
  padding-left: 0;
}

ul.wp-block-list.is-style-dc26-hex-check li {
  position: relative;
  padding-left: 1.6em;
  margin-bottom: 0.6rem;
}

ul.wp-block-list.is-style-dc26-hex-check li::before {
  content: "";
  position: absolute;
  top: 0.1em;
  left: 0;
  width: 1em;
  height: 1em;
  background: url("../assets/img/hexagon-check-light-full.svg") no-repeat center / contain;
}

.is-style-badge-title {
  border: 2px solid black;
  border-radius: 9999px;
  aspect-ratio: 1 / 1;
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;
  text-transform: uppercase;
}

.wp-block-search__inside-wrapper{
  padding: 6px 12px 7px 16px;
}

.wp-block-search__input {
  color: var(--wp--preset--color--primary, #8e8e8e);
  font-size: 18px;
  font-weight: 400;
}

.wp-block-search__input::placeholder {
  color: var(--wp--preset--color--primary, #8e8e8e);
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}

.wp-block-search .wp-block-search__button.wp-element-button {
  padding: 0;
}