.gform_body label.gform-field-label.gform-field-label--type-sub {
  font-weight: 500;
}

h2.gform_title {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.ec-theme--1309 {
  align-items: stretch;
}

.ec-theme--1309 .ec-card {
  width: 30%;
  max-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ec-theme--1309 .ec-card:hover {
  border: 2px solid var(--wp--preset--color--primary);
}

.ec-theme--1309 .ec-card.ec-border-selected.ec-selected {
  border: 2px solid var(--wp--preset--color--primary);
}

.gform_description {
  margin-bottom: 1.5rem;
}

#gform_fields_4 {
  border: 2px solid var(--wp--preset--color--primary);
  border-radius: 0.5rem;
  padding: 1rem;
}

@media (min-width: 1024px) {
  #gform_fields_4 .gfield:not(.ec-enabled) {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}

@media (min-width: 1024px) {
  .gform_footer {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}

.gform-theme--foundation .gform_footer {
  justify-content: center;
}

.gform_wrapper a {
  color: var(--wp--preset--color--primary);
  text-decoration: underline;
}

.dc26-filters__partner h5 {
  padding: 0;
  margin: 0;
}

p.ec-paragraph {
  font-size: 16px;
}

.dc26-subtotal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.dc26-subtotal .gfield_label {
  margin-bottom: 0;
}

.dc26-section-small .gsection_title {
  font-size: 1.25rem;
}