.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle::after {
    display: none;
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle {
    padding-top: 10px;
    padding-bottom: 6px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.wpml-ls-legacy-dropdown a {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: white;
    text-align: center;
}

.wpml-ls-legacy-dropdown .wpml-ls-current-language > a {
    border: 0;
    background-color: hsla(0, 0%, 68.2%, 0.6);
    opacity: 0.4;
    border-radius: 30px;
}

.wpml-ls-legacy-dropdown {
    width: auto;
}

.wpml-ls-legacy-dropdown .wpml-ls-current-language {
    padding-bottom: 0.5rem;
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
    border-top: 0;
    background-color: hsla(0, 0%, 68.2%, 0.6);
    border-radius: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu a {
    background-color: transparent;
    border: none;
}



/* Polylang language switcher styles */
ul.wp-block-polylang-language-switcher {
	list-style: none;
	display: flex;
	margin: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	gap: 0.5rem;
}

ul.wp-block-polylang-language-switcher li a {
	padding-top: 0;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 700;
	color: var(--wp--preset--color--primary);
}


