<!-- wp:template-part {"slug":"header","className":"is-style-sticky-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
	<!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">404</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Cette page n'existe pas.</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":"Rechercher","buttonText":"Rechercher","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
